@font-face {
font-family:calibri;
src:url(/fonts/calibri.ttf);
}
@font-face {
  font-family: 'Ropa Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Ropa Sans Italic'), local('RopaSans-Italic'), url(fonts/Wprc8_GrCVbQmKc-0NykFIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans'), local('RopaSans-Regular'), url(fonts/QnguTd82yEUxQZygH2gm8D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
font-family:guatami;
src:url(fonts/gautamib.ttf);
}
@font-face {
font-family:calibrib;
src:url(fonts/calibrib.ttf);
}

@font-face {
font-family:arialn;
src:url(fonts/ARIALN.TTF);
}